<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top bigger">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="index">
          <img src="/images/Sky-logo-transparent.png" alt="Brand">
        </a>
        <h1 class="navbar-title">
          {{ title }}
        </h1>
    </div>
  </div><!--/.container-fluid -->
  <div id="navbar">
      {{> navbar-links}}
  </div>
</nav>

<hr><!--a nice looking line --> 
