<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ title }}</title>
	<!-- custom range slider CSS -->
	<link rel="stylesheet" href="/stylesheets/slider.css"> 


	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
	<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>

	<!-- Handlebars -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>


	<!-- Firebase required for upload and retreival of json data -->
	<script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
	<script>
	var config = {
		apiKey : "AIzaSyBPHWMUaoFgDs_p7AwLu-nVSGjscKcWkKE",
		authDomain : "sky-project-b488a.firebaseapp.com",
		databaseURL : "https://sky-project-b488a.firebaseio.com",
		projectId : "sky-project-b488a",
		storageBucket : "sky-project-b488a.appspot.com",
		messagingSenderId : "488544760869"
	};
	var defaultApp = firebase.initializeApp(config);
	</script>

</head>
<body>
	<div class="container">
		<div class="navbar-wrapper">
			{{> navbar}}
		</div>
		{{{ body }}}
	</div>
</body>
<!-- Slider and uploader js -->
	<script type="text/javascript" src="/javascripts/slider.js"></script>
	<script type="text/javascript" src="/javascripts/uploadFacility.js" ></script>

</html>