
  <h3>Click to Start Upload</h3>
	<label>Upload File</label> <input type="file" id="selectFiles"
		value="Import">
	<p class="help-block">"only json file allowed"</p>
	<label>Import to Firebase</label>
	<button class="btn btn-success" id="import" onclick="importFile()">Import</button>


